/target
*.3mf
*.csv
*.log
assets/*
.vscode
.rustfmt.toml
*.webp
*.gcode
debug_output*
preview*.png
*.model/target
*.jpg
test_images/*
test_images
*.dll
config.toml
auto_offset2.rs
saved_data.toml
*data.txt